In [3]:
import pandas as pd
df=pd.read_csv('playtennis.csv',index_col=0)
df

   PlayTennis   Outlook Temperature Humidity    Wind
0          No     Sunny         Hot     High    Weak
1          No     Sunny         Hot     High  Strong
2         Yes  Overcast         Hot     High    Weak
3         Yes      Rain        Mild     High    Weak
4         Yes      Rain        Cool   Normal    Weak
5          No      Rain        Cool   Normal  Strong
6         Yes  Overcast        Cool   Normal  Strong
7          No     Sunny        Mild     High    Weak
8         Yes     Sunny        Cool   Normal    Weak
9         Yes      Rain        Mild   Normal    Weak
10        Yes     Sunny        Mild   Normal  Strong
11        Yes  Overcast        Mild     High  Strong
12        Yes  Overcast         Hot   Normal    Weak
13         No      Rain        Mild     High  Strong

In [16]:
from collections import Counter
cnt = Counter(x for x in df['PlayTennis'])
cnt

Counter({'No': 5, 'Yes': 9})

In [23]:
k=len(df['PlayTennis'])*1.0
k

14.0

In [19]:
min(cnt)

'No'

In [20]:
max(cnt)

'Yes'

In [21]:
cnt.values()

dict_values([5, 9])

In [24]:
probs=[x/k for x in cnt.values()]

In [25]:
probs

[0.35714285714285715, 0.6428571428571429]

In [26]:
import math

In [28]:
[sum(-p*math.log(p,2) for p in probs)]

[0.9402859586706309]

# Calculate Entropy

In [34]:
import math
from collections import Counter


def entropy(probs):
    return [sum(-p*math.log(p,2) for p in probs)]
def entropy_l(df):
    cnt=Counter(x for x in df)
    return entropy([x/len(df) for x in cnt.values()])
entropy_l(df['PlayTennis'])

[0.9402859586706309]

# Information Gain of Attributes

In [36]:
df.groupby('Outlook')

In [37]:
len(df.index)*1.0

14.0