In [17]:
import ibm_db
dsn_hostname = "dashdb-txn-sbox-yp-lon02-06.services.eu-gb.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "mvd40335"        # e.g. "abc12345"
dsn_pwd = "v5zf9h3j6drx-31q"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

In [18]:
try:
    conn=ibm_db.connect(dsn,"","")
    print('connectd')
except:
    print('unale to connect')

connectd

In [3]:
dsn

'DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-06.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=mvd40335;PWD=v5zf9h3j6drx-31q;'

In [8]:
stmt=ibm_db.exec_immediate(conn,"CREATE TABLE PK( ins_id INT NOT NULL PRIMARY KEY,LastName VARCHAR(20) NOT NULL,firstname VARCHAR(20) NOT NULL,Country CHAR(20) NOT NULL);")

In [11]:
stmt=ibm_db.exec_immediate(conn,"INSERT INTO PK(ins_id,LastName,firstname,Country)VALUES(1 ,'Ahuja' ,'Rav','CA'),(2 ,'Ahujaa' ,'Ravi','CMA');")

In [13]:
stmt=ibm_db.exec_immediate(conn,'select * from PK')
ibm_db.fetch_both(stmt)

{'INS_ID': 1,
 0: 1,
 'LASTNAME': 'Ahuja',
 1: 'Ahuja',
 'FIRSTNAME': 'Rav',
 2: 'Rav',
 'COUNTRY': 'CA                  ',
 3: 'CA                  '}

In [14]:
import ibm_db_dbi
import pandas as pd
pconn=ibm_db_dbi.Connection(conn)
df=pd.read_sql('select * from pk',pconn)
df

   INS_ID LASTNAME FIRSTNAME               COUNTRY
0       1    Ahuja       Rav  CA
1       2   Ahujaa      Ravi  CMA

In [19]:
ibm_db.close(conn)

True

In [20]:
ibm_db.close(conn)

Exception: Connection is not active