In [ ]:
n=

In [2]:
import pandas as pd
df=pd.read_csv('data.csv')
df.head()

  Mileage  Age(yrs)  Sell Price($)
0   69000       6.0        18000.0
1   35000       3.0        34000.0
2   57000       5.0        26100.0
3   22500       2.0        40000.0
4   46000       4.0        31500.0

In [3]:
df.dtypes

Mileage           object
Age(yrs)         float64
Sell Price($)    float64
dtype: object

In [4]:
df.describe()

        Age(yrs)  Sell Price($)
count  19.000000      19.000000
mean    5.157895   25039.473684
std     1.833732    8016.347515
min     2.000000   12000.000000
25%     4.000000   19350.000000
50%     5.000000   26000.000000
75%     6.500000   31750.000000
max     8.000000   40000.000000

In [6]:
df.describe(include='all')

       Mileage   Age(yrs)  Sell Price($)
count       20  19.000000      19.000000
unique      18        NaN            NaN
top      59000        NaN            NaN
freq         2        NaN            NaN
mean       NaN   5.157895   25039.473684
std        NaN   1.833732    8016.347515
min        NaN   2.000000   12000.000000
25%        NaN   4.000000   19350.000000
50%        NaN   5.000000   26000.000000
75%        NaN   6.500000   31750.000000
max        NaN   8.000000   40000.000000

In [8]:
df.info()
#top 30 rows and bottom 30 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Mileage        20 non-null     object
 1   Age(yrs)       19 non-null     float64
 2   Sell Price($)  19 non-null     float64
dtypes: float64(2), object(1)
memory usage: 608.0+ bytes