In [1]:
d={'a':45,'b':66,'c':44}
print(d)

{'a': 45, 'b': 66, 'c': 44}

In [5]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [3]:
d.values()

dict_values([45, 66, 44])

## 2

In [11]:
d={'a':45,'b':66,'c':44,'b':44}
d

{'a': 45, 'b': 44, 'c': 44}

In [12]:
'b' in d

True

In [13]:
d['c']=123
d

{'a': 45, 'b': 44, 'c': 123}

In [14]:
del(d['b'])
d

{'a': 45, 'c': 123}

In [3]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }
# Print out the capital of France
print(europe['france'])
# Create sub-dictionary data
data={'capital':'rome','population':59.83}
# Add data to europe under key 'italy'
europe['italy']=data
# Print europe
print(europe)

{'capital': 'paris', 'population': 66.03}
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

In [4]:
import pandas as pd
d=pd.DataFrame(europe)
d

             spain france germany norway  italy
capital     madrid  paris  berlin   oslo   rome
population   46.77  66.03   80.62  5.084  59.83